<% title='Checkout' %>

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            <%= title %>
        </title>
        <script src="https://kit.fontawesome.com/004ce8372e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/common.css">
        <link rel="stylesheet" href="/css/checkout.css">
        <link rel="shortcut icon" href="#">
    </head>

    <body>
        <header>
            <%- include('partials/header.html') %>
        </header>

        <main>
            <div class="container">
                <h2>Checkout</h2>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-header">
                            <h5>Billing Details </h5>
                            <p>Already have an account? <a href="/signin">Login</a></p>
                        </div>

                        <form action="/confirm-order" method="POST" class="form-group">
                            <!-- Name -->
                            <div class="name-container">
                                <input type="text" class="form-control" id="firstName" name="firstName"
                                    placeholder="First name" required>
                                <span class="asterisk_required_field"></span>
                                <input type="text" class="form-control" id="lastName" name="lastName"
                                    placeholder="Last name" required>
                                <span class="asterisk_required_field"></span>
                            </div>

                            <!-- Shipping address -->
                            <input type="text" class="form-control" id="company" name="company"
                                placeholder="Company name (optional)">

                            <select class="form-control" id="country" name="country" required>
                                <option value="" selected disabled hidden>Select Country/Region</option>
                                <% countries.forEach(country=> { %>
                                    <option value="<%= country.name %>">
                                        <%= country.name %>
                                    </option>
                                    <% }); %>
                            </select>

                            <input type="text" class="form-control" id="shippingAddress" name="shippingAddress"
                                placeholder="Shipping address" required>

                            <input type="text" class="form-control" id="shippingAddress2" name="shippingAddress2"
                                placeholder="Apartment, suite, etc. (optional)">

                            <div class="city-container">
                                <select class="form-control" id="shippingCity" name="shippingCity" required>
                                    <option value="" selected disabled hidden>Select Town/City</option>
                                    <% if (country) { %>
                                        <% towns.forEach(town=> { %>
                                            <% if (town.country===country) { %>
                                                <option value="<%= town.name %>">
                                                    <%= town.name %>
                                                </option>
                                                <% } %>
                                                    <% }); %>
                                                        <% } else { %>
                                                            <% towns.forEach(town=> { %>
                                                                <option value="<%= town.name %>">
                                                                    <%= town.name %>
                                                                </option>
                                                                <% }); %>
                                                                    <% } %>
                                </select>

                                <input type="text" class="form-control" id="shippingZip" name="shippingZip"
                                    placeholder="Postcode" required>
                            </div>
                            <!-- Contact details -->
                            <input type="tel" class="form-control" id="contactNumber" name="contactNumber"
                                placeholder="Phone number" required>

                            <input type="email" class="form-control" id="email" name="email" placeholder="Email address"
                                required>

                            <!-- chebox to create profile on guest user behalf -->
                            <!-- <input type="checkbox" id="createAccount" name="createAccount" value="createAccount"> -->
                            <!-- <label for="createAccount">Create an account on my behalf</label> -->

                            <!-- Order notes -->
                            <textarea class="form-control" id="orderNotes" name="orderNotes" rows="3"
                                placeholder="Order notes (optional)"></textarea>

                            <!-- Payment method -->
                            <!-- TODO Create adn integrate a payment method -->

                            <button type="submit" class="btn btn-success place-order" href="/order-confirmation">Place
                                Order</button>
                        </form>
                    </div>
                    <div class="col-md-6" id="cart">
                        <h5>Your Order </h5>
                        <table class="cart-items-table">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th class="subtotal">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% cartItems.forEach(item=> { %>
                                    <tr>
                                        <td>
                                            <img src="<%= item.imageUrl %>">
                                            <%= item.productName %> &times; <%= item.quantity %>
                                        </td>
                                        <td class="subtotal">$<%= (item.price * item.quantity).toFixed(2) %>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                            <!-- insert the subtotal here as part of the table-->
                            <tfoot>
                                <tr>
                                    <th>Subtotal</th>
                                    <th class="subtotal">$<%= subtotal.toFixed(2) %>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                        <a href="/cart" class="btn btn-primary update-cart">Update Cart</a>
                        <hr>
                        <div class="cart-totals">
                            <p class="delivery-fee-label">Delivery Fee:</p>
                            <p class="delivery-fee-price" id="deliveryFee">$0.00</p>
                        </div>
                        <div class="cart-summary">
                            <p class="total-label">Total:</p>
                            <p class="total-price">$<%= grandTotal.toFixed(2) %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <%- include('partials/footer.html') %>
        </footer>

        <div id="checkoutData" style="display: none;">
            <%- JSON.stringify({ countries: countries, cities: towns }) %>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="/js/checkout.js"></script>

    </body>

    </html>